.photos-list {
    flex-wrap: wrap;
    margin-top: 20px;
}
@media only screen and (max-width: 1024px) {
    .photos-list {
        justify-content: center;
    }
}
.photos-list .photo-block {
    margin: 20px;
}

.load-btn {
    width: 257px;
    height: 50px;
}
.load p{
    font-family: 'Space Mono';
    text-align: center;
}
.load {
    padding: 20px 0 40px 0;
}