.filters-and-photos {
    width: 1200px;
    margin: auto;
}
.filters-and-photos .select {
    font-family: 'Poppins';
    width: 280px;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    padding: 10px;
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    position: relative;
    background-image: url(../images/expand.png);
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: 95%;
}
.select-items {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    display: none;
    z-index: 15;
}
.select-items li {
    padding: 10px;
}
.select-items li:hover {
    background-color: #E00000;
    color: #fff;
}
.dropdown {
    position: relative;
}
.dropdown.open .select-items {
    display: block; 
    position: absolute;
    background-color: #fff;
    width: 100%;
}


#filter-categories {
    margin-right: 50px;
}

.all-filters {
    width: 100%;
}
.dropdown-sort-by {
    margin-right: 20px;
}
.dropdown-categorie {
    margin-right: 50px;
}
.filters {
    margin-left: 20px;
}
.filters select option:hover {
    background-color: #E00000;
}
.selected {
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    .dropdown-sort-by, .filters, .dropdown-categorie {
        margin: 0;
    }
    .all-filters {
        align-items: center;
        flex-direction: column;
    }
    .filters {
        align-items: center;
        flex-direction: column;
    }
    #filter-categories {
        margin: 0 !important;
    }

    .all-filters select, .filters select {
        margin-bottom: 20px !important;
    }

}
@media only screen and (max-width: 1024px) {
    .all-filters {
        margin: auto;
    }
    #filter-categorie, .dropdown-categorie {
        margin: 0 !important;
    }
}
.sort-and-filters {
    margin: 40px 0 20px 0;
    width: 100%;
}
.display-msg {
    display: block;
}
@media only screen and (max-width: 1200px) {
    .filters-and-photos {
        width: 90%;
    }
    .all-filters select, .filters select {
        margin-bottom: 20px !important;
    }
    
}
@media only screen and (max-width: 767px) {
    .filters-and-photos {
        width: 95%;
    }
}
